<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Üstün Ticaret - Kütahya</title>
	<link rel="icon" href="~/Img/smalllogo.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/electro-master/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="~/electro-master/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/electro-master/css/slick-theme.css" />
	<link type="text/css" rel="stylesheet" href="~/electro-master/css/nouislider.min.css" />
	<link rel="stylesheet" href="~/electro-master/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="~/electro-master/css/style.css" />
	<link type="text/css" rel="stylesheet" href="~/css/responsive.css" />
</head>