@model List<Gallery>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	int count = 0;
}
<div class="container mt-5">
	<h2>Resimler</h2>
	<hr />
	<a asp-area="admin" asp-controller="gallery" asp-action="create" class="btn btn-dark mb-3">Yeni Resim Ekle</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Konu</th>
				<th scope="col">Sil</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				count++;
				<tr>
					<th scope="row">@count</th>
					<td><img src="~/Img/@item.ImageName" width="300px" /></td>
					<td><a class="btn btn-danger" asp-area="Admin" asp-controller="Gallery" asp-action="Delete" asp-route-id="@item.GalleryId">Sil</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>