<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			@*class="active" unutma*@
			<ul class="main-nav nav navbar-nav">
				<li><a href="/home">Ana Sayfa</a></li>
				<li><a href="/home/product">Ürünler</a></li>
				<li><a href="/home/gallery">Galeri</a></li>
				<li><a href="/home/about">Hakkımızda</a></li>
				<li><a href="/home/contact">İletişim</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
