@model List<Product>
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Seçme Ürünler</h3>
					<div class="section-nav">
					</div>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								@foreach (var item in Model)
								{
									<div class="product">
										<div class="product-img" style=" width: 100%;
    height: 200px; /* İstediğiniz yükseklik */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;">
											<img src="~/Img/Products/@item.Image" style="width: 80%;
    height: 80%;
    object-fit: contain;"
     alt="">
										</div>
										<div class="product-body">
											<p class="product-category">@item.Brand.BrandName</p>
											<h3 class="product-name"><a href="#">@item.ProductName</a></h3>
											@* <h4 class="product-price">@item.Price ₺ <del class="product-old-price">$990.00</del></h4> *@
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
										
										</div>
									</div>
								}
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>